.container {
    width: 600px;


  }
  
  .lh-condensed { line-height: 1.25; }

  .custom-control {
      width: 100%;
  }
.bg-light{
  background-image: url("img/bg.jpg");
  background-size: 100%;
  background-attachment: fixed;
}
hr {
	color: #000000;
	border-width: 5px;
}